#bloques{
	font-family: verdana;
}

.bloque1{
	
	padding: 10px;
	width: 11%;
	background-color: #F781BE;
	display: inline;
	margin-top: 20px;

}

.bloque2{

	padding: 10px;
	width: 11%;
	border: 1px solid black;
	display: inline;
	background-color: #81F7F3; 
	margin-top: 20px;

}